h1{
  color: #123456;
  text-align: center;
}
a{
  color: red
}
body{
  background-color: yellow;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/7a2ae447682695.588175020bd1f.jpg");
}

ul li{
  float:left;
  border-style: solid;
  border width: 2px;
  padding: 20px;
  padding-right: 100px;
  padding-left: 100px;
  list-style: none;
  margin-left: 200px;
  margin-right: 50px;
  display: block;
}
